# Core functionality - changes here should be rare!
/src/app.py                   @Coacher
/src/backend/database.py      @Coacher
/src/backend/routers/auth.py  @Coacher

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Coacher
